
.navbar{
    /* position:fixed;
    top:0;
    width:100%;
    height:1vw;
    padding:1.1vw; */
    display:flex;
    justify-content:space-between;
    background-color:black;


}
.logo{
    position:absolute;
    left:1vw;
    width:5.5vw;
    top:0.7vw;
}
.avatar{
    position:absolute;
    right:1.5vw;
    width:1.75vw;
    top:0.5vw;
}
.navbar input{
    position: absolute;
    left: 45%;
    color: black;
    border: none;
    padding: 3px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.39);
    margin-top: 5px;
    width: 18%;
}